.footer {
    height: 70px;
    background: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    .copyright {
        font-size: 20px;
        color: var(--white);
    }
}